$font-family-primary: 'Titillium Web', sans-serif;
$font-family-secondary: 'Space Mono', sans-serif;

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5em;
}